button {
  border: none;
  background: inherit;
  color: inherit;
}

.timer {
  display: inline-block;
}

.setting-value {
  font-size: 8vmin;
}

.action-button {
  display: inline-block;
  font-size: 6vmin;
}

.action-button:focus {
  outline: none;
}

.main-timer {
  text-align: center;
}

.timer-fonts {
  color: white;
}

.timer-label {
  font-family: "Roboto", sans-serif;
}

.timer-countdown {
  font-size: 15.5vmin !important;
}

body {
  background-color: #ff6347;
}

.main-title {
  display: block;
  color: #600000;
  margin-top: 5vmin !important;
  text-align: center !important;
}

.main-title > h1 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.play-icon,
.increment-icon {
  font-size: 8vmin;
}

.main-icon {
  margin: 5vmin;
  font-size: 20vmin;
  color: white;
}

@media only screen and (max-width: 768px) {
  .timer-countdown {
    font-size: 25.5vmin !important;
  }
  .main-title {
    margin-top: 10vmin !important;
  }
  .play-icon,
  .increment-icon {
    font-size: 15vmin;
  }
  .setting-value {
    font-size: 12vmin;
  }

  .action-button {
    font-size: 10vmin;
  }
}
