button {
  border: none;
  background: inherit;
  color: inherit;
}

.timer {
  display: inline-block;
}

.action-button {
  display: inline-block;
}
.action-button:focus {
  outline: none;
}

.main-timer {
  text-align: center;
}

.timer-fonts {
  color: white;
}

.timer-countdown {
  font-size: 15.5vmin !important;
}

@media only screen and (max-width: 768px) {
  .timer-countdown {
    font-size: 25.5vmin !important;
  }
}

body {
  background-color: #ff6347;
}

.main-title {
  display: block;
  color: #600000;
  margin-top: 10vmin !important;
  text-align: center !important;
}

.far {
  font-size: 40px;
}

.main-icon {
  margin: 5vmin;
  font-size: 20vmin;
  color: white;
}
