.config-bg {
  text-align: center;
}

.main-title {
  display: block;
  color: #600000;
  margin-top: 5vmin !important;
  text-align: center !important;
}

.main-icon {
  margin: 5vmin;
  font-size: 20vmin;
  color: white;
}

.setting-input {
  margin-top: 15px;
}

.setting-input-wrapper {
  display: block !important;
}

.setting-counter-input {
  display: inline-block !important;
}
